data = (typeof data === 'undefined') ? undefined : data
meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
title
  block title
    #{locals.title ? (locals.title + (locals.title_suffix ? locals.title_suffix : '')) : SITE_NAME}
meta(id="meta-viewport", name="viewport", content="width=device-width, initial-scale=1")
script
  !{istatic('js/lib/iOS-Orientationchange-fix.js')}
link(rel='stylesheet', href=static('/css/base.css'))
link(rel='stylesheet', href=static('/css/print.css'), media='print')
if locals.css 
  css = (css instanceof Array) ? css : [css];
  for item in css
    link(rel='stylesheet', href=static('/css/' + item + '.css'))
script
  !{istatic('js/seajs-mini.js')}
  seajs.config({
    alias: !{seajs_alias()}
  });
if locals.DEBUG
  script
    window._DEV_ = true;
pipefy = pipefy || locals.pipefy
if pipefy
  script
    !{istatic('js/lib/bigpipe.js')}
if locals.js
  js_mods = (js instanceof Array) ? js : [js];
  js_mods = JSON.stringify(js_mods);
  script
    seajs.use(!{js_mods}, window.seajs_onload);
if locals.GA_ID
  script
    var _gaq = _gaq || [];_gaq.push(['_setAccount', '#{GA_ID}']);_gaq.push(['_trackPageview']);
    (function(){ var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' === document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
if locals.carnonical
  link(rel='carnonical', href='#{carnonical}')
if locals.desc || locals.data
  desc = locals.desc || locals.data.desc || locals.data.content
  data_title = data && data.title
  desc = trunc(desc, 170, true)
  desc = substitute(desc, { title: locals.title })
  meta(name="description", content=desc)
